.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-yesno {
    background-color: #f2f2f2;
    border-radius: 10px;
    max-width: 500px;
    padding: 20px;
    text-align: center;
  }
  
  .form-yesno h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }
  
  .label-yesno {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .input-yesno {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .button-yesno {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .button-yesno:hover {
    background-color: rgb(71, 63, 63);
  }

.btn__container {
    display: flex;
    gap: 50px;
}  

.answer__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

.answer__container img {
    max-width: 400px;
}